.statistic {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--gap);

    color: var(--primary-font-color);
}

#skills-percentage {
    max-width: fit-content;
}