
:root {
  --font-size: 16px;
  --font-family: -apple-system, system-ui, BlinkMacSystemFont, Arial, sans-serif;

  --gap: 1rem;
  --default-border-size: 1px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

ul, ol {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  max-width: 60ch;
}

h1,
h2,
h3 {
  font-weight: 900;
}

h1 {
  font-size: clamp(2rem, 5vw, 5rem);
}

h2 {
  font-size: clamp(1.2rem, 4vw, 3rem);
}

h3 {
  font-size: clamp(1.0rem, 3vw, 2rem);
}


::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(90, 90, 90);
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.01);
}

body {
  container-name: body;
  container-type: inline-size;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

@media print {

  html {
    --font-size: 12pt;
  }
  
}

html:focus-within {
  scroll-behavior: smooth;
}


img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

svg *[fill] {
  fill: currentColor;
}

svg *[stroke] {
  stroke: currentColor;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}